.dropbtn {
    background-color: $whit;
    color: $bl;
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid $bl;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    height: 40px;
    width: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;

    @media (max-width:650px) {
        margin-top: 15px;
        margin-left: auto;
    }

    &>span {
        font-weight: 500;
        font-size: 16px;
        margin-right: 10px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    background-color: $whit;
    border: 1px solid $bl;
    border-radius: 8px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: $bl;
    color: $whit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $bl;
    color: $whit;
}