.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    & div,
    button {
        margin: 10px 5px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 8px;
        transition: 0.3s;
        cursor: pointer;
        color: black;
        background: transparent;
    }

    & div:hover,
    button:hover {
        color: white;
        background: black;
    }
}

.active {
    color: white!important;
    background: black!important;
}