* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: $bl;
    outline: 0;
}

li {
    list-style-type: none;
}