* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: #000;
  outline: 0;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1410px;
  padding: 0px 15px;
  margin: auto;
}

.top-bannerbg {
  min-height: 72px;
  background: #2a2731;
}

.top-banner {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 72px;
}
@media (max-width: 1280px) {
  .top-banner {
    flex-wrap: wrap;
  }
  .top-banner .top-banner-search {
    order: 3;
    margin: auto;
  }
}
.top-banner-logo {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.top-banner-search {
  max-width: 625px;
  width: 100%;
  align-items: center;
  display: flex;
  border: none;
  position: relative;
}
.top-banner-search > span {
  position: absolute;
  cursor: pointer;
  margin: auto;
  right: 80px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}
.top-banner-search > span > img {
  margin-top: 7px;
  height: 15px;
  width: 15px;
}
.top-banner-search::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 7px 4px 0;
  border-color: transparent #fff transparent transparent;
}
.top-banner-search > input {
  max-width: 600px;
  width: 100%;
  height: 35px;
  padding: 10px 15px;
  font-size: 16px;
  color: #000;
  border: none;
  outline: none;
  font-weight: 400;
  border-radius: 0;
  cursor: pointer;
}
.top-banner-search > input::-moz-placeholder {
  color: #000;
}
.top-banner-search > input:-ms-input-placeholder {
  color: #000;
}
.top-banner-search > input::placeholder {
  color: #000;
}
.top-banner-search > button {
  height: 35px;
  background: url("../assets/img/Ale/Amber.png");
  border: 1px solid #fff;
  cursor: pointer;
  padding: 10px;
  width: 80px;
  font-weight: 600;
}
.top-banner-cab > p > a {
  font-size: 18px;
  color: lightgray;
}
.top-banner-cab > span {
  font-size: 18px;
  color: #fff;
}
.top-banner-cart {
  min-width: 140px;
}
.top-banner-cart > a {
  display: flex;
  flex-direction: column;
}
.top-banner-cart > a::before {
  background: url("../assets/img/Ale/Amber.png");
  height: 28px;
  width: 30px;
  content: "";
  position: absolute;
  top: 22px;
}
.top-banner-cart > a > span {
  margin-bottom: 1px;
  text-align: end;
  color: lightgray;
}
.top-banner-cart > a > p {
  text-align: end;
  color: #fff;
}
.top-banner-contacts > p {
  margin-bottom: 1px;
  font-size: 14px;
  color: lightgray;
  position: relative;
}
.top-banner-contacts > p::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -12px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #48454e transparent transparent transparent;
  border-width: 5px 4px 5px 4px;
}
.top-banner-contacts > span {
  font-size: 18px;
  color: #fff;
}

.bottom-banner {
  border-bottom: 1px solid #fff;
}
.bottom-banner > div > ul {
  display: flex;
}
.bottom-banner > div > ul > li {
  padding: 6px 10px;
  border-radius: 8px;
  margin: 10px 15px 10px 0;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}
.bottom-banner > div > ul > li.active {
  color: #fff;
  background: black;
}
.bottom-banner > div > ul > li:hover {
  color: #fff;
  background: black;
}
.bottom-banner > div > ul > li > a {
  position: relative;
  display: block;
  font-size: 18px;
  padding-right: 14px;
  white-space: nowrap;
}

li.withInnerMenu > a::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  border-style: solid;
  border-color: #bbb9bf transparent transparent transparent;
  border-width: 5px 4px 5px 4px;
  right: 0;
  top: 8px;
}

.content {
  display: flex;
}
.content-leftblock {
  width: 180px;
  margin-top: 25px;
}
.content-leftblock-Filter {
  padding-bottom: 30px;
}
.content-leftblock-Filter-box {
  position: relative;
  margin-bottom: 10px;
  transition: 0.3s;
}
.content-leftblock-Filter-box > p {
  display: flex;
}
.content-leftblock-Filter-box > p > label {
  margin-left: 5px;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  font-weight: 300;
}
.content-leftblock-Filter-box > span {
  position: absolute;
  top: 0;
  right: 0;
  color: #bbb9bf;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
}
.content-leftblock-Filter-price {
  padding-bottom: 30px;
}
.content-leftblock-Filter-price-el {
  position: relative;
  padding-right: 30px;
  margin-bottom: 10px;
}
.content-leftblock-Filter-price-el > span {
  position: absolute;
  top: 0;
  right: 0;
  color: #bbb9bf;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 200;
}
.content-leftblock-Filter-price-el > p {
  display: block;
}
.content-leftblock-Filter-price-el > p > label {
  position: relative;
  padding-left: 22px;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  display: block;
  font-weight: 300;
}
.content-leftblock-Filter-price-el > p > label::before {
  content: "";
  border-radius: 50%;
  background: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #bbb9bf;
}
.content-leftblock-Filter-price-el-selectPrice {
  width: 180px;
  display: flex;
}
.content-leftblock-Filter-price-el-selectPrice > input[type=submit] {
  width: 34px;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  height: 33px;
  background: #fff;
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
}
.content-leftblock-Filter-price-el-selectPrice > input[type=submit]:hover {
  background: #fff;
}
.content-leftblock-Filter-price-el-selectPrice > input {
  display: block;
  float: left;
  width: 73px;
  height: 33px;
  padding: 7px 10px;
  line-height: 1;
  border: 1px solid lightgray;
  border-right: 0;
  color: #2a2731;
  font-size: 14px;
  font-weight: 300;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.content-leftblock-Filter-price-el-selectPrice > input::-moz-placeholder {
  color: #2a2731;
}
.content-leftblock-Filter-price-el-selectPrice > input:-ms-input-placeholder {
  color: #2a2731;
}
.content-leftblock-Filter-price-el-selectPrice > input::placeholder {
  color: #2a2731;
}
.content-leftblock-Filter > span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  padding-bottom: 14px;
  border-bottom: 1px dashed lightgray;
  margin-bottom: 15px;
}
.content .right-block {
  margin-top: 30px;
  margin-left: 50px;
  width: 100%;
}
.content .right-block-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.content .right-block-grid-item {
  margin-right: 0;
  padding: 30px 40px 10px;
  margin-bottom: 30px;
}
.content .right-block-grid-item-price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.content .right-block-grid-item-price > div > p {
  height: 18px;
  font-size: 14px;
  color: #908f95;
  margin-bottom: 3px;
}
.content .right-block-grid-item-price > input {
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
  padding: 10px 18px;
  white-space: nowrap;
  background: #ed5435;
  color: #fff;
  text-align: center;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}
.content .right-block-grid-item-price > div > div {
  height: 23px;
  font-size: 25px;
  line-height: 1;
  font-weight: 300;
}
.content .right-block-grid-item-price > div > div > sup {
  font-size: 15px;
  letter-spacing: -0.2px;
}
.content .right-block-grid-item-text {
  padding-top: 7px;
}
.content .right-block-grid-item-text > span {
  display: block;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .right-block-grid-item-text > span > a {
  font-size: 14px;
  font-weight: 300;
}
.content .right-block-grid-item-text > span > a:hover {
  color: #908f95;
}
.content .right-block-grid-item-text > span > img {
  margin-right: 2px;
  width: 15px;
  height: 10px;
}
.content .right-block-grid-item-text > a[class=title] {
  margin-bottom: 3px;
  margin-top: 18px;
  display: block;
  color: #2a2731;
}
.content .right-block-grid-item-text > a[class=title] > span {
  font-size: 18px;
  line-height: 23px;
  display: block;
  font-weight: 400;
}
.content .right-block-grid-item-text > a[class=title] > p {
  display: block;
  font-weight: 400;
}
.content .right-block-grid-item-text > a[class=title] > p > span {
  font-size: 13px;
  color: #908f95;
  font-weight: 300;
}
.content .right-block-grid-item-img {
  text-align: center;
  margin: auto;
  height: 245px;
}
.content .right-block-grid-item-img > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.content .right-block-grid-item-img > a > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 85px;
}
.content .right-block-titleBar {
  display: flex;
  justify-content: space-between;
}
.content .right-block-titleBar > div > h1 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.content .right-block-titleBar > ul {
  display: flex;
  list-style-type: disc;
}
.content .right-block-titleBar > ul > li > a[class=active] {
  color: #908f95;
}
.content .right-block-titleBar > ul > li > a[class=active]::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #2a2731;
}
.content .right-block-titleBar > ul > li {
  margin-left: 15px;
}
.content .right-block-titleBar > ul > li > a {
  position: relative;
  display: block;
  padding: 0 8px;
  color: #2a2731;
  border-radius: 12px;
  font-weight: 300;
  line-height: 1;
}
.content .right-block-titleBar > ul > li > a > i {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-color: #908f95 transparent transparent transparent;
  border-width: 5px 4px 5px 4px;
  top: 3px;
  right: 0;
}
.content .right-block-titleBar > ul > li > a:hover {
  color: #908f95;
}

.inside {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.inside-rightside {
  width: 190px;
}
.inside-rightside > ul > li {
  margin-bottom: 10px;
  color: lightgray;
}
.inside-rightside > ul > li > span {
  font-size: 14px;
  margin-bottom: 3px;
}
.inside-rightside > ul > li > p {
  font-size: 17px;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
}
.inside-rightside > p > a > img {
  border: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: 30px;
  width: 30px;
}
.inside-rightside > p[class=title] {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #48454e;
  margin-bottom: 15px;
}
.inside-leftside {
  display: flex;
}
.inside-leftside-footercol {
  width: 190px;
  margin-right: 45px;
}
.inside-leftside-footercol > p {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #48454e;
  margin-bottom: 15px;
}
.inside-leftside-footercol > ul > li {
  padding-top: 1px;
}
.inside-leftside-footercol > ul > li > img {
  height: 40px;
  width: 80px;
  margin-top: 8px;
}
.inside-leftside-footercol > ul > li > a {
  color: #bbb9bf;
  font-size: 14px;
}
.inside-leftside-footercol > ul > li > a:hover {
  color: #fff;
}

i[class=hidefilter]::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 5px;
  height: 1px;
  background: #2a2731;
  top: 7px;
  left: 5px;
}

.hidefilter {
  float: right;
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  cursor: pointer;
}

label[class=checked]::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2a2731;
  left: 5px;
  top: 5px;
}

.dropdown {
  position: relative;
  transition: 0.4s;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 190px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid rgba(44, 44, 44, 0.07);
  text-align: left;
  z-index: 99;
  overflow: hidden;
  font-weight: 300;
  border-radius: 5px;
  left: auto;
  right: 0;
  width: auto;
  min-width: 170px;
}
.dropdown-menu > li > a {
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  font-weight: 300;
  position: relative;
  display: block;
  padding: 16px 17px;
  color: #2a2731;
  font-size: 15px;
  font-weight: 400;
}

.cart-navbar {
  margin-top: 22px;
  margin-bottom: 21px;
  line-height: 27px;
  display: flex;
  justify-content: space-between;
}
.cart-navbar-continue {
  display: inline-block;
  padding-right: 17px;
  font-size: 20px;
  line-height: 27px;
  color: #08131f;
}
.cart-navbar__list {
  max-width: 857px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-navbar__list > li:nth-child(2)::before {
  left: -110px;
}
.cart-navbar__list > li:nth-child(2)::after {
  right: -110px;
}
.cart-navbar__list > li:nth-child(2)::before,
.cart-navbar__list > li:nth-child(2)::after {
  display: block;
  position: absolute;
  content: "";
  top: 15px;
  width: 65px;
  height: 1px;
  background: #d3dee3;
}
.cart-navbar__list > li {
  position: relative;
}
.cart-navbar__list > li > a[class=current] {
  color: #000;
  cursor: pointer;
  pointer-events: auto;
}
.cart-navbar__list > li > a[class=current] > span {
  border-color: #000;
}
.cart-navbar__list > li > a[class=disable] {
  cursor: default;
  pointer-events: none;
}
.cart-navbar__list > li > a {
  cursor: pointer;
  color: lightgray;
  pointer-events: auto;
  padding-left: 38px;
  position: relative;
  display: inline-block;
  height: 27px;
  padding-left: 38px;
  font-size: 20px;
}
.cart-navbar__list > li > a > span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 27px;
  height: 27px;
  border: 2px solid lightgray;
  border-radius: 1px;
  line-height: 23px;
  text-align: center;
}
.cart-navbar__list > li > a > span[class=cart-span]::before {
  content: "1";
  color: #000;
}
.cart-navbar__list > li > a > span[class=order]::before {
  content: "2";
  color: lightgray;
}
.cart-navbar__list > li > a > span[class=finish]::before {
  content: "3";
  color: lightgray;
}
.cart-leftblock {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-left: 1px solid lightgray;
  margin-top: 80px;
}
.cart-leftblock-bottom {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 18px 21px 18px 30px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-leftblock-bottom > button {
  outline: none;
  padding: 12px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #ed5435;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
}
.cart-leftblock-bottom > a {
  padding-right: 25px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  color: lightgray;
  transition: 0.4s;
}
.cart-leftblock-bottom > a:hover {
  color: #000;
}
.cart-leftblock-bottom > a[class=condition] {
  position: relative;
  display: inline-block;
  padding-right: 17px;
  font-size: 20px;
  line-height: 27px;
  color: #08131f;
}
.cart-leftblock-item {
  margin-left: 40px;
  position: relative;
  padding: 24px 0 20px;
  display: flex;
  border-right: 1px solid lightgray;
  height: 138px;
}
.cart-leftblock-item > a {
  position: absolute;
  display: block;
  top: 50%;
  left: -25px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f1f1f1;
}
.cart-leftblock-item > a:hover::after {
  background-color: #908f95;
}
.cart-leftblock-item > a:hover::before {
  background-color: #908f95;
}
.cart-leftblock-item > a::after {
  transform: rotate(-45deg);
  position: absolute;
  content: "";
  box-sizing: border-box;
  top: 5px;
  left: 8px;
  width: 1px;
  height: 8px;
  background: #2a2731;
  transform: rotate(-45deg);
  border-radius: 1px;
}
.cart-leftblock-item > a::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  top: 5px;
  left: 8px;
  width: 1px;
  height: 8px;
  background: #2a2731;
  transform: rotate(45deg);
  border-radius: 1px;
}
.cart-leftblock-item-namecol {
  width: 400px;
  display: flex;
}
.cart-leftblock-item-namecol-img {
  width: 50px;
  margin-right: 15px;
  text-align: center;
}
.cart-leftblock-item-namecol-img > a {
  width: 35px;
  height: 94px;
  position: relative;
  display: inline-block;
}
.cart-leftblock-item-namecol-img > a > img {
  width: 35px;
  height: 94px;
}
.cart-leftblock-item-namecol-text > span {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
  text-overflow: ellipsis;
}
.cart-leftblock-item-namecol-text > span > a:hover {
  color: #908f95;
}
.cart-leftblock-item-namecol-text > a > span {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  overflow: hidden;
  max-height: 46px;
  font-weight: 400;
}
.cart-leftblock-item-namecol-text > a > span:hover {
  color: #908f95;
}
.cart-leftblock-item-namecol-text > a > span > p {
  font-size: 13px;
  color: #908f95;
  font-weight: 300;
  margin-left: 5px;
  margin-top: 2px;
}
.cart-leftblock-item-capacitycol {
  width: 90px;
}
.cart-leftblock-item-capacitycol > p {
  font-size: 17px;
  padding: 1px;
  font-weight: 500;
}
.cart-leftblock-item-price4one {
  width: 90px;
}
.cart-leftblock-item-price4one > p {
  font-size: 17px;
}
.cart-leftblock-item-quantitycol {
  width: 90px;
  text-align: center;
}
.cart-leftblock-item-quantitycol > form {
  width: 95px;
}
.cart-leftblock-item-quantitycol > form > p {
  padding: 0 28px;
  position: relative;
}
.cart-leftblock-item-quantitycol > form > p > a[class=minus] {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  background: #f3f3f3;
  top: 4px;
  border-radius: 50%;
  left: 0;
  transition: 0.4s;
}
.cart-leftblock-item-quantitycol > form > p > a[class=minus]:hover {
  background: #ed5435;
}
.cart-leftblock-item-quantitycol > form > p > a[class=minus]::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 5px;
  height: 1px;
  background: #000;
  top: 10px;
  left: 8px;
}
.cart-leftblock-item-quantitycol > form > p > a[class=plus] {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  background: #f3f3f3;
  top: 4px;
  border-radius: 50%;
  right: 0;
  transition: 0.4s;
}
.cart-leftblock-item-quantitycol > form > p > a[class=plus]:hover {
  background: #ed5435;
}
.cart-leftblock-item-quantitycol > form > p > a[class=plus]::before {
  width: 9px;
  left: 6px;
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 1px;
  background: #000;
  top: 10px;
}
.cart-leftblock-item-quantitycol > form > p > a[class=plus]::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 1px;
  height: 9px;
  background: #2a2731;
  top: 6px;
  left: 10px;
}
.cart-leftblock-item-quantitycol > form > p > input {
  height: 30px;
  font-size: 17px;
  text-align: center;
  border: 1px solid lightgray;
  font-family: "proxima-nova", sans-serif;
  font-weight: 200;
  width: 40px;
  outline: none;
}
.cart-leftblock-item-totalcol {
  width: 90px;
  text-align: right;
  margin-right: 15px;
}
.cart-leftblock-item-totalcol > p {
  font-size: 17px;
}
.cart-leftblock-emptycart {
  padding-left: 40px;
  height: 37px;
  line-height: 35px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  border-right: 1px solid lightgray;
}
.cart-leftblock-emptycart > div > span {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.cart-leftblock-emptycart-name {
  width: 400px;
}
.cart-leftblock-emptycart-capacity {
  width: 90px;
}
.cart-leftblock-emptycart-price {
  width: 90px;
}
.cart-leftblock-emptycart-quantity {
  width: 90px;
  text-align: center;
}
.cart-leftblock-emptycart-total {
  width: 90px;
  text-align: right;
  margin-right: 15px;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  height: 40px;
  width: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown > span {
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: #000;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000;
  color: #fff;
}

.idk {
  font-size: 10px;
  margin-left: 2px;
}

.flexb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-top: 100px;
  background-color: #2a2731;
  padding-top: 45px;
  font-weight: 300;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}/*# sourceMappingURL=style.css.map */