@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


#root{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.try{
    margin-top: 0 !important;
}


a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: $bl;
    outline: 0;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1410px;
    padding: 0px 15px;
    margin: auto;
}

.top-bannerbg {
    min-height: 72px;
    background: $bldar;

    @media (max-width:1280px) {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        min-height: 56px;
    }
}

.forMobile{
    display:none;
    @media (max-width:650px){
        display: block;
        height: 32px;
        &>img{
            height: 32px;
            width: 32px;
        }
    }
}
.albert{
    &:hover {
        background-color: $oran !important;
        cursor: not-allowed !important ;
    }
}

.top-banner {

    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 72px;


    @media (max-width:1280px) {
        flex-wrap: wrap;
        min-height: auto;
        padding-left: 0px;
        padding-right: 0px;
        .top-banner-search {
            margin: auto;
        }
    }

    &-logo {
        font-size: 30px;
        color: $whit;
        font-weight: 700;

        @media (max-width:620px) {
            display: none;
        }
    }

    &-search {
        max-width: 625px;
        width: 100%;
        align-items: center;
        display: flex;
        border: none;
        position: relative;

        @media (max-width:650px) {
            max-width: 66%;
        }


        // rework
        &>span {
            position: absolute;
            cursor: pointer;
            margin: auto;
            right: 80px;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            color: black;
            transition: .3s;

            @media (max-width:650px) {
                right: 0px;
            }

            &>img {
                margin-top: 7px;
                height: 15px;
                width: 15px;
            }

        }

        &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 7px 4px 0;
            border-color: transparent $whit transparent transparent;

            @media (max-width:650px) {
                display: none;
            }
        }


        &>input {
            max-width: 600px;
            width: 100%;
            height: 35px;
            padding: 10px 15px;
            font-size: 16px;
            color: $bl;
            border: none;
            outline: none;
            font-weight: 400;
            border-radius: 0;
            cursor: pointer;

            &::placeholder {
                color: $bl;
            }
        }

        &>button {
            height: 35px;
            background: url("../assets/img/Ale/Amber.png");
            border: 1px solid $whit;
            cursor: pointer;
            padding: 10px;
            width: 80px;
            font-weight: 600;

            @media (max-width:650px) {
                display: none;
            }
        }
    }

    &-cab {
        @media (max-width:620px) {
            display: none;
        }

        &>p>a {
            font-size: 18px;
            color: $lgray;
        }

        &>span {
            font-size: 18px;
            color: $whit;
        }
    }

    &-cart {
        @media (max-width:620px) {
            display: none;
        }

        min-width: 120px;

        &>a {
            display: flex;
            flex-direction: column;
        }

        &>a::before {
            background: url("https://raw.githubusercontent.com/SeemsGood78/FirstTry/main/src/assets/Icons/shopping-cart.png");
            height: 32px;
            width: 32px;
            content: "";
            position: absolute;
            top: 22px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &>a>span {
            margin-bottom: 1px;
            text-align: end;
            color: $lgray;
        }

        &>a>p {
            text-align: end;
            color: $whit;
        }
    }

    &-contacts {
        @media (max-width:620px) {
            display: none;
        }

        &>p {
            margin-bottom: 1px;
            font-size: 14px;
            color: $lgray;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                right: -12px;
                box-sizing: border-box;
                border-style: solid;
                border-color: $lgblue transparent transparent transparent;
                border-width: 5px 4px 5px 4px;
            }
        }

        &>span {
            font-size: 18px;
            color: $whit;
        }
    }
}

.bottom-banner {
    @media (max-width:1280px) {
        margin-top: 56px;
    }

    &>div>ul {
        display: flex;

        @media (max-width: 1280px) {
            overflow: auto;
            white-space: nowrap;
        }
    }

    &>div>ul>li {
        padding: 6px 10px;
        border-radius: 8px;
        margin: 10px 15px 10px 0;
        border: 1px solid black;
        cursor: pointer;
        transition: .3s;

        &.active {
            color: $whit;
            background: black;
        }

        &:hover {
            color: $whit;
            background: black;
        }
    }

    &>div>ul>li>a {
        position: relative;
        display: block;
        font-size: 18px;
        padding-right: 14px;
        white-space: nowrap;
    }
}

li.withInnerMenu>a::after {
    position: absolute;
    content: '';
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-color: $gra transparent transparent transparent;
    border-width: 5px 4px 5px 4px;
    right: 0;
    top: 8px;
}

.content {
    display: flex;

    &-leftblock {
        width: 180px;
        margin-top: 25px;

        @media (max-width: 1280px) {
            display: none;
        }

        &-Filter {
            padding-bottom: 30px;

            &-box {
                position: relative;
                margin-bottom: 10px;
                transition: 0.3s;

                &>p {
                    display: flex;
                }

                &>p>label {
                    margin-left: 5px;
                    font-size: 15px;
                    line-height: 18px;
                    cursor: pointer;
                    font-weight: 300;
                }

                &>span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $gra;
                    font-size: 14px;
                    font-family: 'proxima-nova', sans-serif;
                    font-weight: 200;
                    letter-spacing: -.3px;
                }
            }

            &-price {
                padding-bottom: 30px;

                &-el {
                    position: relative;
                    padding-right: 30px;
                    margin-bottom: 10px;

                    &>span {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: $gra;
                        font-size: 14px;
                        font-family: 'proxima-nova', sans-serif;
                        font-weight: 200;

                    }

                    &>p {
                        display: block;

                        &>label {
                            position: relative;
                            padding-left: 22px;
                            font-size: 15px;
                            line-height: 18px;
                            cursor: pointer;
                            display: block;
                            font-weight: 300;

                            &::before {
                                content: "";
                                border-radius: 50%;
                                background: 0;
                                position: absolute;
                                // box-sizing: border-box;
                                left: 0;
                                top: 0;
                                width: 17px;
                                height: 17px;
                                border: 1px solid $gra;
                            }
                        }
                    }

                    &-selectPrice {
                        width: 180px;
                        display: flex;

                        &>input[type=submit] {
                            width: 34px;
                            text-align: center;
                            padding: 8px 0;
                            font-size: 12px;
                            height: 33px;
                            background: $whit;
                            border: 1px solid $lgray;
                            cursor: pointer;
                            -webkit-border-radius: 0;
                            border-radius: 0;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            outline: none;

                            &:hover {
                                background: $whit;
                            }

                        }

                        &>input {
                            display: block;
                            float: left;
                            width: 73px;
                            height: 33px;
                            padding: 7px 10px;
                            line-height: 1;
                            border: 1px solid $lgray;
                            border-right: 0;
                            color: $bldar;
                            font-size: 14px;
                            font-weight: 300;
                            border-radius: 0;
                            appearance: none;
                            outline: none;

                            &::placeholder {
                                color: $bldar;
                            }
                        }
                    }
                }
            }

            &>span {
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 17px;
                padding-bottom: 14px;
                border-bottom: 1px dashed $lgray;
                margin-bottom: 15px;
            }
        }
    }

    .right-block {
        margin-top: 30px;
        margin-left: 50px;
        width: 100%;

        @media (max-width:1280px) {
            margin-left: 0px;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            @media (max-width:1280px) {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 25b3px;
            }

            @media (max-width:650px) {
                grid-template-columns: repeat(1, 1fr);
            }

            // &>div[class=right-block-grid-item]:nth-child(3n-1){
            //     border-left: 1px solid;
            //     border-right: 1px solid;
            // }
            &-item {
                margin-right: 0;
                padding: 30px 40px 10px;
                margin-bottom: 30px;

                // border-top: 1px solid;
                @media (max-width:650px) {
                    border: 1px solid $lgray;
                    padding-bottom: 30px;
                    border-radius: 5px;
                }

                &-price {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    &>div>p {
                        height: 18px;
                        font-size: 14px;
                        color: $dargrey;
                        margin-bottom: 3px;
                    }

                    &>button {
                        font-size: 14px;
                        line-height: 20px;
                        border-radius: 6px;
                        padding: 10px;
                        display: inline-block;
                        padding: 10px 18px;
                        white-space: nowrap;
                        background: $oran;
                        color: $whit;
                        text-align: center;
                        font-family: 'open-sans', sans-serif;
                        font-weight: 400;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        transition: 0.4s;
                        &:hover {
                            background: #08131f;
                        }
                    }

                    &>div>div {
                        height: 23px;
                        font-size: 25px;
                        line-height: 1;
                        font-weight: 300;

                        &>sup {
                            font-size: 15px;
                            letter-spacing: -.2px;
                        }
                    }
                }

                &-text {
                    padding-top: 7px;

                    &>span {
                        display: block;
                        margin-bottom: 4px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &>a {
                            font-size: 14px;
                            font-weight: 300;


                            &:hover {
                                color: $dargrey;
                            }
                        }

                        &>img {
                            margin-right: 2px;
                            width: 15px;
                            height: 10px;
                        }
                    }

                    &>a[class=title] {
                        margin-bottom: 3px;
                        margin-top: 18px;
                        display: block;
                        color: $bldar;

                        &>span {
                            font-size: 18px;
                            line-height: 23px;
                            display: block;
                            font-weight: 400;
                        }

                        &>p {
                            display: block;
                            font-weight: 400;

                            &>span {
                                font-size: 13px;
                                color: $dargrey;
                                font-weight: 300;
                            }
                        }
                    }
                }

                &-img {
                    text-align: center;
                    margin: auto;
                    height: 245px;


                    &>a {
                        width: 100%;
                        height: 100%;
                        display: inline-block;

                        &>img {
                            max-width: 100%;
                            max-height: 100%;
                            min-width: 85px;
                        }
                    }
                }
            }
        }

        &-titleBar {
            display: flex;
            justify-content: space-between;

            &>div>h1 {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
            }

            &>ul {
                display: flex;
                list-style-type: disc;

                &>li>a[class=active] {
                    color: $dargrey;

                    &::after {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -3px;
                        width: 4px;
                        height: 4px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        background: $bldar;
                    }
                }

                &>li {
                    margin-left: 15px;

                    &>a {
                        position: relative;
                        display: block;
                        padding: 0 8px;
                        color: $bldar;
                        border-radius: 12px;
                        font-weight: 300;
                        line-height: 1;

                        &>i {
                            position: relative;
                            display: inline-block;
                            border-style: solid;
                            border-color: $dargrey transparent transparent transparent;
                            border-width: 5px 4px 5px 4px;
                            top: 3px;
                            right: 0;
                        }

                        &:hover {
                            color: $dargrey;
                        }
                    }
                }
            }
        }
    }
}

.inside {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;

    @media (max-width: 1280px) {
        flex-wrap: wrap;
        padding-bottom: 20px;
        display: block;
    }

    &-rightside {
        width: 220px;

        @media (max-width: 1280px) {
            margin-top: 25px;
            width: auto;
        }

        &>ul>li {
            margin-bottom: 10px;
            color: $lgray;
            align-items: center;
            display: flex;
            justify-content: space-between;

            &>a {
                margin-left: 15px;

                &>img {
                    height: 32px;

                }
            }

            &>span {
                font-size: 14px;
                margin-bottom: 3px;
            }

            &>p {
                font-size: 17px;
                color: $whit;
                font-family: 'proxima-nova', sans-serif;
                font-weight: 100;
            }
        }

        &>p>a>img {
            border: 0;
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: 30px;
            width: 30px;
        }

        &>p[class=title] {
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            color: $whit;
            padding-bottom: 15px;
            border-bottom: 1px solid $lgblue;
            margin-bottom: 15px;
        }
    }

    &-leftside {
        display: flex;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &-footercol {
            width: 190px;
            margin-right: 45px;

            @media (max-width: 1280px) {
                margin-top: 25px;
                margin-right: 0;
                width: auto !important;
            }

            &>p {
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                color: $whit;
                padding-bottom: 15px;
                border-bottom: 1px solid $lgblue;
                margin-bottom: 15px;
            }

            &>ul>li {
                padding-top: 1px;

                &>img {
                    height: 40px;
                    width: 80px;
                    margin-top: 8px;
                }

                &>a {
                    color: $gra;
                    font-size: 14px;

                    &:hover {
                        color: $whit;
                    }
                }
            }
        }
    }
}


// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
i[class=hidefilter] {
    &::before {
        position: absolute;
        content: '';
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 5px;
        height: 1px;
        background: $bldar;
        top: 7px;
        left: 5px;
    }
}

.hidefilter {
    float: right;
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid $whit;
    cursor: pointer;
}

label[class=checked] {
    &::after {
        position: absolute;
        content: '';
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: $bldar;
        left: 5px;
        top: 5px;
    }
}

// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////

// //////////////////////////////////////////////////////////////////////////////////////////

.cart {

    &-leftblock {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        border-left: 1px solid $lgray ;
        margin-top: 80px;

        &-noItems{
            height: 400px;
            border-right: 1px solid $lgray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 20px;
        }

        &-bottom {
            border-top: 1px solid $lgray;
            border-right: 1px solid $lgray;
            border-bottom: 1px solid $lgray;
            padding: 18px 21px 18px 30px;
            width: 800px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>button {
                padding-right: 25px;
                position: relative;
                font-size: 18px;
                line-height: 27px;
                color: $bldar;
                transition: 0.2s;
                border: none;
                background-color: $whit;
                cursor: pointer;
                &:hover {
                    color: $lgray;
                }
            }

            &>a[class=condition] {
                position: relative;
                display: inline-block;
                padding-right: 17px;
                font-size: 20px;
                line-height: 27px;
                color: #08131f;

            }
            &>a{
                transition: 0.2s;
                font-size: 18px;
                line-height: 27px;
                &:hover{
                    color: $lgray;
                }
            }
        }


        &-item {
            margin-left: 40px;
            position: relative;
            padding: 24px 0 20px;
            display: flex;
            border-right: 1px solid $lgray;
            height: 138px;

            &>a {
                position: absolute;
                display: block;
                top: 50%;
                left: -25px;
                margin-top: -9px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #f1f1f1;

                &:hover::after {
                    background-color: $dargrey;
                }

                &:hover::before {
                    background-color: $dargrey;
                }

                &::after {
                    transform: rotate(-45deg);
                    position: absolute;
                    content: '';
                    box-sizing: border-box;
                    top: 5px;
                    left: 8px;
                    width: 1px;
                    height: 8px;
                    background: #2a2731;
                    transform: rotate(-45deg);
                    border-radius: 1px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    box-sizing: border-box;
                    top: 5px;
                    left: 8px;
                    width: 1px;
                    height: 8px;
                    background: #2a2731;
                    transform: rotate(45deg);
                    border-radius: 1px;
                }
            }

            &-namecol {
                width: 400px;
                display: flex;

                &-img {
                    width: 50px;
                    margin-right: 15px;
                    text-align: center;

                    &>a {
                        width: 35px;
                        height: 94px;
                        position: relative;
                        display: inline-block;

                        &>img {
                            width: 35px;
                            height: 94px;
                        }
                    }
                }

                &-text {
                    &>span {
                        font-size: 14px;
                        display: block;
                        margin-bottom: 4px;
                        white-space: nowrap;
                        overflow: hidden;
                        font-weight: 300;
                        text-overflow: ellipsis;

                        &>a:hover {
                            color: $dargrey;
                        }
                    }

                    &>a {
                        &>span {
                            display: flex;
                            font-size: 18px;
                            line-height: 23px;
                            overflow: hidden;
                            max-height: 46px;
                            font-weight: 400;

                            &:hover {
                                color: $dargrey;
                            }

                            &>p {
                                font-size: 13px;
                                color: $dargrey;
                                font-weight: 300;
                                margin-left: 5px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }

            &-capacitycol {

                width: 90px;

                &>p {
                    font-size: 17px;
                    padding: 1px;
                    font-weight: 500;
                }
            }

            &-price4one {
                width: 90px;

                &>p {
                    font-size: 17px;
                }
            }

            &-quantitycol {
                width: 90px;
                text-align: center;

                &>div {
                    width: 95px;

                    &>p {
                        padding: 0 28px;
                        position: relative;
                        display: flex;
                        align-items: center;

                        &>button[class=minus] {
                            position: absolute;
                            display: block;
                            width: 21px;
                            height: 21px;
                            background: #f3f3f3;
                            top: 4px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            left: 0;
                            transition: 0.4s;
                            border: none;
                            outline: none;

                            &:hover {
                                background: $oran;
                            }

                            &::before {
                                position: absolute;
                                content: '';
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                width: 5px;
                                height: 1px;
                                background: $bl;
                                top: 10px;
                                left: 8px;

                            }
                        }

                        &>button[class=plus] {
                            position: absolute;
                            display: block;
                            width: 21px;
                            height: 21px;
                            background: #f3f3f3;
                            top: 4px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            right: 0;
                            transition: 0.4s;
                            border: none;
                            outline: none;

                            &:hover {
                                background: $oran;
                            }

                            &::before {
                                width: 9px;
                                left: 6px;
                                position: absolute;
                                content: '';
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                height: 1px;
                                background: $bl;
                                top: 10px;
                            }

                            &::after {
                                position: absolute;
                                content: '';
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                width: 1px;
                                height: 9px;
                                background: #2a2731;
                                top: 6px;
                                left: 10px;

                            }
                        }

                        &>span {
                            height: 30px;
                            font-size: 17px;
                            text-align: center;
                            border: 1px solid $lgray;
                            font-family: 'proxima-nova', sans-serif;
                            font-weight: 200;
                            width: 40px;
                            outline: none;
                            padding: 3px;
                        }
                    }
                }

            }

            &-totalcol {
                width: 90px;
                text-align: right;
                margin-right: 15px;

                &>p {
                    font-size: 17px;
                }
            }
        }

        &-emptycart {
            padding-left: 40px;
            height: 37px;
            line-height: 35px;
            border-top: 1px solid $lgray;
            border-bottom: 1px solid $lgray;
            display: flex;
            border-right: 1px solid $lgray;

            &>div>span {
                color: $bl;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
            }

            &-name {
                width: 400px;
            }

            &-capacity {
                width: 90px;
            }

            &-price {
                width: 90px;
            }

            &-quantity {
                width: 90px;
                text-align: center;
            }

            &-total {
                width: 90px;
                text-align: right;
                margin-right: 15px;
            }
        }
    }
}

.dropbtn {
    background-color: $whit;
    color: $bl;
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid $bl;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    height: 40px;
    width: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;

    @media (max-width:650px) {
        margin-top: 15px;
        margin-left: auto;
    }

    &>span {
        font-weight: 500;
        font-size: 16px;
        margin-right: 10px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    background-color: $whit;
    border: 1px solid $bl;
    border-radius: 8px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: $bl;
    color: $whit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $bl;
    color: $whit;
}


.idk {
    font-size: 10px;
    margin-left: 2px;
}

.flexb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    @media (max-width: 1280px) {
        padding-top: 0px;
    }

    margin-top: 100px;
    background-color: $bldar;
    padding-top: 45px;
    font-weight: 300;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.notAvailable {
    opacity: 0.5;
    cursor: not-allowed;
    border: none !important;

    input {
        cursor: not-allowed !important;
    }

    a {
        cursor: not-allowed;
    }
}

.display-none{
    display: none;
}