@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: $bl;
    outline: 0;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1410px;
    padding: 0px 15px;
    margin: auto;
}

.top-bannerbg {
    height: 72px;
    background: $bldar;
}

.top-banner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 72px;

    &-logo {
        background: url("../assets/img/16.jpg");
        height: 30px;
        width: 170px;
    }

    &-search {
        max-width: 625px;
        width: 100%;
        align-items: center;
        display: flex;
        border: none;

        &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 7px 4px 0;
            border-color: transparent $whit transparent transparent;
        }

        &>input {
            max-width: 525px;
            width: 100%;
            height: 35px;
            padding: 10px 15px;
            font-size: 16px;
            color: $bl;
            border: none;
            outline: none;
            font-weight: 400;
            border-radius: 0;
            cursor: pointer;

            &::placeholder {
                color: $bl;
            }
        }

        &>button {
            height: 35px;
            width: 40px;
            background: url('../assets/img/16.jpg');
            border: none;
            cursor: pointer;
        }
    }

    &-cab {
        &>p>a {
            font-size: 18px;
            color: $lgray;
        }

        &>span {
            font-size: 18px;
            color: $whit;
        }
    }

    &-cart {
        min-width: 140px;

        &>a {
            display: flex;
            flex-direction: column;
        }

        &>a::before {
            background: url('../assets/img/16.jpg');
            height: 28px;
            width: 30px;
            content: "";
            position: absolute;
            top: 22px;
        }

        &>a>span {
            margin-bottom: 1px;
            text-align: end;
            color: $lgray;
        }

        &>a>p {
            text-align: end;
            color: $whit;
        }
    }

    &-contacts {
        &>p {
            margin-bottom: 1px;
            font-size: 14px;
            color: $lgray;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                right: -12px;
                box-sizing: border-box;
                border-style: solid;
                border-color: $lgblue transparent transparent transparent;
                border-width: 5px 4px 5px 4px;
            }
        }

        &>span {
            font-size: 18px;
            color: $whit;
        }
    }
}

.bottom-banner {
    height: 36px;
    border-bottom: 1px solid $whit;
    padding-bottom: 25px;

    &>div>ul {
        display: flex;
        justify-content: space-between;
        height: 36px;
    }

    &>div>ul>li {
        padding: 7px 15px 7px 0;
    }

    &>div>ul>li>a {
        position: relative;
        display: block;
        font-size: 18px;
        padding-right: 14px;
        white-space: nowrap;
    }
}

li.withInnerMenu>a::after {
    position: absolute;
    content: '';
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-color: $gra transparent transparent transparent;
    border-width: 5px 4px 5px 4px;
    right: 0;
    top: 8px;
}

.content {
    display: flex;

    &-leftblock {
        width: 180px;
        margin-top: 25px;

        &-Filter {
            padding-bottom: 30px;

            &-box {
                position: relative;
                padding-right: 30px;
                margin-bottom: 10px;

                &>p {
                    display: flex;
                }

                &>p>label {
                    margin-left: 5px;
                    font-size: 15px;
                    line-height: 18px;
                    cursor: pointer;
                    font-weight: 300;
                }

                &>span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $gra;
                    font-size: 14px;
                    font-family: 'proxima-nova', sans-serif;
                    font-weight: 200;
                    letter-spacing: -.3px;
                }
            }

            &-price {
                padding-bottom: 30px;

                &-el {
                    position: relative;
                    padding-right: 30px;
                    margin-bottom: 10px;

                    &>span {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: $gra;
                        font-size: 14px;
                        font-family: 'proxima-nova', sans-serif;
                        font-weight: 200;

                    }

                    &>p {
                        display: block;

                        &>label {
                            position: relative;
                            padding-left: 22px;
                            font-size: 15px;
                            line-height: 18px;
                            cursor: pointer;
                            display: block;
                            font-weight: 300;

                            &::before {
                                content: "";
                                border-radius: 50%;
                                background: 0;
                                position: absolute;
                                // box-sizing: border-box;
                                left: 0;
                                top: 0;
                                width: 17px;
                                height: 17px;
                                border: 1px solid $gra;
                            }
                        }
                    }

                    &-selectPrice {
                        width: 180px;
                        display: flex;

                        &>input[type=submit] {
                            width: 34px;
                            text-align: center;
                            padding: 8px 0;
                            font-size: 12px;
                            height: 33px;
                            background: $whit;
                            border: 1px solid $lgray;
                            cursor: pointer;
                            -webkit-border-radius: 0;
                            border-radius: 0;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            outline: none;

                            &:hover {
                                background: $whit;
                            }

                        }

                        &>input {
                            display: block;
                            float: left;
                            width: 73px;
                            height: 33px;
                            padding: 7px 10px;
                            line-height: 1;
                            border: 1px solid $lgray;
                            border-right: 0;
                            color: $bldar;
                            font-size: 14px;
                            font-weight: 300;
                            border-radius: 0;
                            appearance: none;
                            outline: none;

                            &::placeholder {
                                color: $bldar;
                            }
                        }
                    }
                }
            }

            &>span {
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 17px;
                padding-bottom: 14px;
                border-bottom: 1px dashed $lgray;
                margin-bottom: 15px;
            }
        }
    }

    .right-block {
        margin-top: 30px;
        margin-left: 50px;
        width: 100%;

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            &-item {
                margin-right: 0;
                padding: 30px 40px 10px;
                margin-bottom: 30px;

                &-price {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    &>div>p {
                        height: 18px;
                        font-size: 14px;
                        color: $dargrey;
                        margin-bottom: 3px;
                    }

                    &>input {
                        font-size: 14px;
                        line-height: 20px;
                        border-radius: 6px;
                        padding: 10px;
                        display: inline-block;
                        padding: 10px 18px;
                        white-space: nowrap;
                        background: $oran;
                        color: $whit;
                        text-align: center;
                        font-family: 'open-sans', sans-serif;
                        font-weight: 400;
                        outline: none;
                        border: none;
                        cursor: pointer;
                    }

                    &>div>div {
                        height: 23px;
                        font-size: 25px;
                        line-height: 1;
                        font-weight: 300;

                        &>sup {
                            font-size: 15px;
                            letter-spacing: -.2px;
                        }
                    }
                }

                &-text {
                    padding-top: 7px;

                    &>span {
                        padding-left: 2px;
                        display: block;
                        margin-bottom: 4px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &>a {
                            font-size: 14px;
                            font-weight: 300;

                            
                            &:hover {
                                color: $dargrey;
                            }
                        }

                        &>img {
                            margin-right: 2px;
                            width: 15px;
                            height: 10px;
                        }
                    }

                    &>a[class=title] {
                        margin-bottom: 3px;
                        margin-top: 18px;
                        display: block;
                        color: $bldar;

                        &:hover {
                            color: $gra;
                        }

                        &>span {
                            font-size: 18px;
                            line-height: 23px;
                            display: block;
                            font-weight: 400;
                        }

                        &>p {
                            display: block;
                            font-weight: 400;

                            &>span {
                                font-size: 13px;
                                color: $dargrey;
                                font-weight: 300;
                            }
                        }
                    }
                }

                &-img {
                    text-align: center;
                    width: 100%;

                    &>a {
                        width: 100%;
                        height: 100%;
                        display: inline-block;

                        &>img {
                            height: 245px;
                            width: 106px;
                        }
                    }
                }
            }
        }

        &-titleBar {
            display: flex;
            justify-content: space-between;

            &>div>h1 {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
            }

            &>ul {
                display: flex;
                list-style-type: disc;

                &>li>a[class=active] {
                    color: $dargrey;

                    &::after {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -3px;
                        width: 4px;
                        height: 4px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        background: $bldar;
                    }
                }

                &>li {
                    margin-left: 15px;

                    &>a {
                        position: relative;
                        display: block;
                        padding: 0 8px;
                        color: $bldar;
                        border-radius: 12px;
                        font-weight: 300;
                        line-height: 1;

                        &>i {
                            position: relative;
                            display: inline-block;
                            border-style: solid;
                            border-color: $dargrey transparent transparent transparent;
                            border-width: 5px 4px 5px 4px;
                            top: 3px;
                            right: 0;
                        }

                        &:hover {
                            color: $dargrey;
                        }
                    }
                }
            }
        }
    }
}

.inside {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

    &-rightside {
        width: 190px;

        &>ul>li {
            margin-bottom: 10px;
            color: $lgray;

            &>span{
                font-size: 14px;
                margin-bottom: 3px;
            }

            &>p{
                font-size: 17px;
                color:$whit;
                font-family: 'proxima-nova',sans-serif;
                font-weight: 100;
            }
        }

        &>p>a>img{
            border: 0;
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: 30px;
            width: 30px;
        }

        &>p[class=title] {
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            color:$whit;
            padding-bottom: 15px;
            border-bottom: 1px solid $lgblue;
            margin-bottom: 15px;
        }
    }

    &-leftside {
        display: flex;

        &-footercol {
            width: 190px;
            margin-right: 45px;

            &>p {
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                color:$whit;
                padding-bottom: 15px;
                border-bottom: 1px solid $lgblue;
                margin-bottom: 15px;
            }

            &>ul>li {
                padding-top: 1px;

                &>img {
                    height: 40px;
                    width: 80px;
                    margin-top: 8px;
                }

                &>a {
                    color: $gra;
                    font-size: 14px;

                    &:hover {
                        color:$whit;
                    }
                }
            }
        }
    }
}

i[class=hidefilter] {
    &::before {
        position: absolute;
        content: '';
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 5px;
        height: 1px;
        background: $bldar;
        top: 7px;
        left: 5px;
    }
}

.hidefilter {
    float: right;
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid $whit;
    cursor: pointer;
}

label[class=checked] {
    &::after {
        position: absolute;
        content: '';
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: $bldar;
        left: 5px;
        top: 5px;
    }
}


.dropdown {
    position: relative;
    transition: .4s;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 190px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background:$whit;
    border: 1px solid rgba(44, 44, 44, .07);
    text-align: left;
    z-index: 99;
    overflow: hidden;
    font-weight: 300;
    border-radius: 5px;
    left: auto;
    right: 0;
    width: auto;
    min-width: 170px;

    &>li {
        &>a {
            padding-left: 20px;
            padding-right: 20px;
            white-space: nowrap;
            font-weight: 300;
            position: relative;
            display: block;
            padding: 16px 17px;
            color: $bldar;
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .change {
    border-color: transparent transparent $lgray transparent;
    border-width: 0px 5px 5px 4px;
    top: -3px;
}

footer {
    margin-top: 100px;
    background-color: $bldar;
    padding-top: 45px;
    font-weight: 300;
}